/* Navbar */
.navbar {
    position: absolute;
    width: 100%;
    height: 87px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

.navbar-shadow-bar-1,
.navbar-shadow-bar-2 {
    position: absolute;
    height: 5px;
    background: #8DD3BB;
    opacity: 0;
}

.navbar-shadow-bar-1 {
    width: 103px;
    left: 1078px;
    top: 82px;
}

.navbar-shadow-bar-2 {
    width: 107px;
    left: 104px;
    top: 82px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 288px;
    position: absolute;
    visibility: hidden;
    width: 640.35px;
    height: 36px;
    left: 104px;
    top: 25.5px;
}

.navbar-menu-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 242px;
    height: 24px;
}

.navbar-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 107px;
    height: 24px;
}

.navbar-icon {
    width: 24px;
    height: 24px;
}

.airplane-icon {
    background: #112211;
}

.bed-icon {
    background: #112211;
}

.navbar-text {
    width: 79px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}

.navbar-logo-container {
    width: 110.35px;
    height: 36px;
}

.navbar-logo {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.navbar-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1610px;
    top: 21px;
}

.navbar-profile-picture {
    width: 45px;
    height: 45px;
    background: url(.jpg);
    z-index: 0;
}

.navbar-profile-status {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 33px;
    top: 33px;
    background: #112211;
    z-index: 1;
}

.navbar-profile-arrow {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 31px;
    top: 45px;
    transform: rotate(-90deg);
    background: #FF8682;
    z-index: 2;
}

.navbar-title {
    position: absolute;
    width: 211px;
    height: 48px;
    left: 80px;
    top: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 39.4438px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #42A7C3;
}
