input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding-left: 4px;
}

.ForgetPassContainer {
  flex: 1;
  display: flex;
  background-color: white;
}

.ForgetPassFormAndCopyrightContainer {
  flex: 1.3 1;
  width: 50%;
  margin: 2.35% 12% 0% 3.5%;
}

.ForgetPassFormAndTitleContainer {
  margin-bottom: 18%;
}

.ForgetPassTitleContainer {
  font-size: 2.5rem;
  font-weight: 600;
  color: #42a7c3;
}

.ForgetPassFormContainer {
  margin: 6.8%;
}

.ForgetPassBackButtonContainer {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.ForgetPassBackButtonContainer:hover .ForgetPassBackButtonText,
.ForgetPassBackButtonContainer:active .ForgetPassBackButtonText {
  color: #071007;
  font-weight: 500;
}

.ForgetPassBackButtonIcon {
  height: 12px;
}

.ForgetPassBackButtonText {
  margin-left: 10px;
}

.ForgetPassFormHeadingContainer {
  flex: 1;
  margin-bottom: 1rem;
  font-size: 3.125rem;
  font-weight: 700;
}

.ForgetPassFormSubHeadingText {
  font-size: 1.25rem;
  font-weight: 400;
}

.ForgetPassFormInputsContainer {
  margin-top: 6%;
}

.ForgetPassSubmitButtonContainer {
  margin-top: 35px;
  border-style: none;
}

.ForgetPassSubmitButton {
  background-color: #8dd3bb;
  padding: 15px;
  font-size: 1.1rem;
  width: 100%;
  
  border: none;
  font-weight: 600;
  border-radius: 5px;
}

.ForgetPassDividerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6% 0px;
}

.ForgetPassDivider1,
.ForgetPassDivider2 {
  height: 0.3px;
  width: 40%;
  background-color: #112211;
}

.ForgetPassOrLoginWithContainer {
  margin: 0px 8px;
  text-align: center;
  color: #112211;
  font-size: 0.9rem;
}

.ForgetPassGoogleSignUpButton {
  padding: 1.4% 20%;
  border-style: solid;
  border-width: 2px;
  border: none;
  background-color: #8dd3bb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.ForgetPassContinueWithText {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.ForgetPassGoogleIcon {
  height: 40px;
}

.ForgetPassDesignContainer {
  flex: 1 2;
  max-width: 42%;
  height: fit-content;
  padding: 20px 0px 0px 0%;
}

.ForgetPassAuthDesignImage {
  height: 95vh;
}

@media (max-width: 550px) {
  .ForgetPassDesignContainer {
    display: none;
  }
  input::placeholder {
    font-size: 0.9rem;
  }
}

@media (max-width: 855px) {
  .ForgetPassGoogleSignUpButton {
    padding: 1.4% 20%;
    background-color: white;
  }
  .ForgetPassContinueWithText {
    display: none;
  }
}
