input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding-left: 4px;
}


.ForgetPassFormInputsContainer {
  margin-top: 6%;
}

.ForgetPassSubmitButtonContainer {
  margin-top: 35px;
  border-style: none;
}

.ForgetPassSubmitButton {
  background-color: #8dd3bb;
  padding: 15px;
  font-size: 1.1rem;
  width: 100%;
  
  border: none;
  font-weight: 600;
  border-radius: 5px;
}
