
input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding-left: 4px;
}


.SetPassPageSetPasswordButtonContainer {
  margin-top: 6.5%;
  border-style: none;
  border-width: 0px;
}

.SetPassPageSetPasswordButton {
  background-color: #8dd3bb;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  border-width: 0px;
  border-radius: 5px;
}

.SetPassPageSetPasswordText {
  font-weight: 600;
}

.SetPassPageSetPasswordButton:active {
  font-size: 1.125px;
}

.SetPassPageCopyrightTextContainer {
  width: fit-content;
  /* position: static; */
  left: -2%;
  bottom: -3%;
  z-index: 2;
}

@media (max-width: 950px) {
  .SetPassPageFormHeadingText {
    font-size: 2rem;
  }
  .SetPassPageFormSubHeadingText {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .SetPassPageReEnterPasswordInputContainer {
    margin-top: 6.5%;
  }
  .SetPassPageSetPasswordButtonContainer {
    margin-top: 10%;
  }
}

@media (max-width: 550px) {
  .SetPassPageDesignContainer {
    display: none;
  }
  input::placeholder {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .SetPassPageFormInputsContainer {
    margin-top: 20px;
  }
  .SetPassPageReEnterPasswordInputContainer {
    margin-top: 20px;
  }
}
