.trippage_details-section {
    position: relative;
    width: 100%;
    padding: 20px;
  }
  
  .trippage_chat-bar {
    width: 100%;
    padding: 3%;
  }
  
  .trippage_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    
    line-height: 61px;
    color: #18191a;
    margin-bottom: 20px;
  }
  .map-title{
    text-align: center;
  }
  .trippage_des-chat-section {
    display: flex;
    justify-content: space-between;
  }
  
  .trippage_des {
    width: 50%;
  }
  
  .trippage_des-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 44px;
    color: #040f0f;
    margin-bottom: 10px;
  }
  
  .trippage_des-content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 37px;
    line-height: 45px;
    color: #040f0f;
  }
  
  .trippage_toggle-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 37px;
    color: #007bff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .trippage_chat-section {
    width: 40%;
    background: #ffffff;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 20px;
  }
  
  .trippage_profile-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .trippage_profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .trippage_profileName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #040f0f;
  }
  
  .trippage_date-section,
  .trippage_info-section {
    display: flex;
    margin: 20px 0;
  }
  
  .trippage_details {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #040f0f;
    padding: 2% 5%;
    width: 50%;
  }
  
  .trippage_box_heading {
    padding-bottom: 5%;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
  }
  
  .trippage_box_content {
    padding-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-weight: 500;
    line-height: 44px;
  }
  
  .trippage_startdate {
    border: 1px solid grey;
    border-right: 0.5px solid rgba(128, 128, 128, 1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .trippage_enddate {
    border: 1px solid grey;
    border-left: 0.5px solid rgba(128, 128, 128, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .trippage_chat-now-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    text-align: center;
    background: #8dd3bb;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .trippage_details-upper-section {
    margin: 4%;
  }
  
  .trippage_map-image {
    background: url('../../../data/Images/MapImage.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 800px;
  }
  
  .trippage_details-lower-section {
    margin-top: 40px;
  }
  
  .trippage_heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .trippage_head-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #18191a;
  }
  
  .trippage_create-more-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #007bff;
    cursor: pointer;
  }
  .grey-line {
    height: 1px;
    background-color: grey;
    width: calc(100% + 40px); /* Adjust this based on padding/margins */
    margin: 0 -20px; /* Negative margin to offset the card's padding */
  }
  
  .trippage_profile-cards {
    display: flex;
    gap: 20px;
  }
  