.chat-sidebar-container {
  flex: 1;
  width: 30%;
  /* height: 100%; */
  /* background: #FFFFFF; */
  border-style: solid;
  border-width: 0px 0.5px 0px 0px;
  border-right-color: #dcdada;
  overflow-y: auto;
}

/* .chat-items-container {
  overflow-y: scroll;
} */