.SearchBar-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2%;
  height: 60%;
}

.SearchBar-location::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #787878;
  font-weight: 600; /* Responsive font size */
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
}

.SearchBar-Image {
  padding-right: 7%;
}

.SearchBar-DateContainer {
  border: grey 1.5px solid;
  border-radius: 10px;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SearchBar-Searchbutton {
  border-radius: 10px;
  background-color: var(--color-primary);
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.SearchBar-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
}

/* Media Queries for Responsiveness */

/* Tablets and larger phones */
@media (max-width: 768px) {
  .SearchBar-Container {
    gap: 5%;
  }

  .SearchBar-Image {
    padding: 1%;
    svg {
      width: 13px;
      height: 41px;
    }
  }

  .SearchBar-date,
  .SearchBar-location,
  .SearchBar-button {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* Phones */
@media (max-width: 480px) {
  .SearchBar-DateContainer,
  .SearchBar-Searchbutton {
    width: 100%;
  }
  .SearchBar-Image {
    padding: 1%;
    svg {
      width: 10px;
      height: 41px;
    }
  }
  .SearchBar-date,
  .SearchBar-location,
  .SearchBar-button {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
