.Container {
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  display: flex;
  background-color: white;
}

.FormAndCopyrightContainer {
  flex: 1.3 1;
  width: 50%;
  margin: 2.35% 12% 0% 3.5%;
}

.FormAndTitleContainer {
  margin-bottom: 18%;
}

.TitleContainer {
  font-size: 2.5rem;
  font-weight: 600;
  color: #42a7c3;
}

.FormContainer {
  margin: 6.8%;
}

.BackButtonContainer {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.BackButtonContainer:hover .BackButtonText,
.BackButtonContainer:active .BackButtonText {
  color: #071007;
  font-weight: 500;
}

.BackButtonIcon {
  height: 12px;
}

.BackButtonText {
  margin-left: 10px;
}

.FormHeadingContainer {
  flex: 1;
  margin-bottom: 1rem;
  font-size: 3.125rem;
  font-weight: 700;
}

.FormSubHeadingText {
  font-size: 1.25rem;
  font-weight: 400;
}

.DividerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6% 0px;
}

.Divider {
  height: 0.3px;
  width: 40%;
  background-color: #112211;
}

.OrLoginWithContainer {
  margin: 0px 8px;
  text-align: center;
  color: #112211;
  font-size: 0.9rem;
}

.GoogleSignUpButton {
  padding: 1.4% 20%;
  border-style: solid;
  border-width: 2px;
  border: none;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.ContinueWithText {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.ImageGoogleIcon {
  height: 40px;
}

.DesignContainer {
  flex: 1 2;
  max-width: 42%;
  height: fit-content;
  padding: 20px 0px 0px 0%;
}

.AuthDesignImage {
  height: 95vh;
}

@media (max-width: 550px) {
  .DesignContainer {
    display: none;
  }
  input::placeholder {
    font-size: 0.9rem;
  }
}

@media (max-width: 855px) {
  .GoogleSignUpButton {
    padding: 1.4% 20%;
    background-color: white;
  }
  .ContinueWithText {
    display: none;
  }
}
