.image-section {
  display: flex;
  width: 100%;
  height: 450px;
  justify-content: center;
  position: relative;
  margin: 5% auto;
}

.image-row {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.two-images .image-item {
  width: calc(50% - 7.5px); /* Two images side by side */
  height: 100%;
  object-fit: cover;
}

.three-images .main-image {
  width: 592.5px;
  height: 450px;
  object-fit: cover;
}

.three-images .right-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.three-images .right-images .image-item {
  width: calc(100% - 7.5px);
  height: 50%;
  object-fit: cover;
}

.four-images .main-image {
  width: 592.5px;
  height: 450px;
  object-fit: cover;
}

.four-images .right-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.four-images .tall-image {
  width: calc(50% - 7.5px);
  height: 100%;
  object-fit: cover;
}

.four-images .stacked-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.four-images .stacked-images .image-item {
  width: calc(50% - 7.5px);
  height: calc(50% - 7.5px);
  object-fit: cover;
}

.five-images .main-image {
  width: 592.5px;
  height: 450px;
  object-fit: cover;
}

.five-images .right-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.five-images .tall-image {
  width: calc(50% - 7.5px);
  height: 100%;
  object-fit: cover;
}

.five-images .stacked-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.five-images .stacked-images .image-item {
  width: calc(50% - 7.5px);
  height: calc(33.33% - 7.5px);
  object-fit: cover;
}
