.image-section {
  display: flex;
  width: 100%;
  height: 100%; /* Set the height to 50% of the viewport height */
  justify-content: center;
  position: relative;
}

.selected-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
  object-fit: cover;
  height: 100%;
}

.selected-image {
  position: relative;
  width: 95%;
  height: 95%;
  margin: 2.5%;
  border-radius: 5%;

}

.navigation-arrows {
  display: flex;
  justify-content: space-between;
  width: 3%;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.thumbnail-container {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 55%;
  height: 95%;
  
}

.thumbnail {
  width: 98%;
  border-radius: 5%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail.selected {
  border: 2px solid blue;
}

/* Custom grid styles based on number of images */
.thumbnail-container.thumbnails-1 {
  grid-template-columns: 1fr;
}
.thumbnail-container.thumbnails-2 {
  grid-template-columns: repeat(2, 1fr);
}
.thumbnail-container.thumbnails-3 {
  grid-template-columns: repeat(3, 1fr);
}
.thumbnail-container.thumbnails-4,
.thumbnail-container.thumbnails-5,
.thumbnail-container.thumbnails-6 {
  grid-template-columns: repeat(3, 1fr);
}

.no-images {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  color: gray;
}
