.publish-trip-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
  margin-bottom: 50px;
  font-size: 25px;
}

.input-element {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-weight: 500;
  justify-content: center;
  margin-left: 22%;
  padding: 0;
}

.publish-trips-label {
  margin-bottom: 7px;
  width: 370.312px;

}

.publish-trips-input {
  width: 370.312px;
  height: 60px;
  border-radius: 0.4rem;
  font-size: 18px;
  padding: 20px;
  font-weight: 400;
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
  color: rgb(5, 0, 0);
  border-width: 2px;
  
}

input::placeholder {
  font-weight: 400;
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
  color: rgb(5, 0, 0);
}

.publish-trip-heading {
  font-family: sans-serif;
  margin-left: 20%;
  font-size: 55px;
  cursor:default;
}

.publish-trips-textarea {
  width: 600px;
  height: 150px;
  border-radius: 0.4rem;
  font-size: 18px;
  padding: 10px;
  font-weight: 400;
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
}

.publish-trips-textarea::placeholder {
  font-weight: 400;
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
  color: rgb(0, 0, 0);
}

.variants {
  display: flex;
  justify-content: center;
  align-items: center;
}


.publish-btn {
  width: 200px;
  height: 45px;
  background: #2f6f9c;
  color: #ffffff;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:12px;
  border: white;
  margin-left: 0;
}

/*

*/


.dropDownListForPublishTripInputs{
  position: absolute;
  list-style: none;
  width: 370.312px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: scroll;
  font-size: 18px;
  z-index: 2;
}

.publish-trips-input-dropDownBtn{
  cursor: pointer;
  outline: none;
  background-color: white;
  text-align: left;
  border-color: rgb(118,118,118);
  display: flex;
  position: relative;
}

.dropDownSvg{
  position: absolute;
  right: 4px;
  top: 20%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.dropDownListForPublishTripInputs li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 0px;
  margin: 0;
  padding: 0;
  align-items: center;
  font-weight: 510;
}


.listItemValueForPublishTripInputs{
  padding: 10px;
  margin: 0;
}

.dropDownListForPublishTripInputs li:hover
 {
  background-color: #f2f2f2;
}

.dropDownListForPublishTripInputs::-webkit-scrollbar {
  width: 7px;
}
.dropDownListForPublishTripInputs::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.dropDownListForPublishTripInputs::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.mandatoryFieldSignInPublishTrips{
  color: rgb(235, 115, 244);
  position: relative;
  top:5px;
  font-size: 17px;
  /* color: #615e5e; */
}


#uploadImagesElement{
  display: flex;
  flex-direction: column;
  margin-left: 22%;   
  justify-content: start;
}

#input-file {
  display: none;
}

.input-file-label {
  width: 300px;
  height: 60px;
  background: #2f6f9c;
  color: #ffffff;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:12px;
  border: white;
  margin-left: 0;
}

.crossIconSvg{
  margin-left: 13px;
}

.uploadImagesSubscript{
  font-weight: 700;
  font-size: 11px;
  margin-left: 3px;
  margin-top: 6px
}






