
.filterSectionWrapper {
  transition: all 0.3s ease;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  padding-left:25%;
  height: 100vh;
  overflow-y: hidden;
  border-left: 1px solid #e0e0e0;
  
  z-index: 1000;
  background-color: #f9f9f9;
}

.filterSectionWrapper.hidden {
  display: none;
}

.filterSectionContainer {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  height: 100%;
  font-weight: bolder;
  font-family: cursive;
}

.filterHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.clearButton {
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease;
}

.clearButton:hover {
  color: #0056b3;
}

.sectionTitle {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
}

.filterOptions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filterOptionLabel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 10px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.filterOptionLabel:hover {
  background-color: #f1f1f1;
}

.preferences .agePreference, 
.preferences .genderPreference {
  margin-top: 20px;
}

.preferenceLabel {
  margin-bottom: 5px;
  display: inline-block;
  color: #007BFF;
}

.ageInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.ageInputs div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filterSectionContainer input[type="text"] {
  width: 100%; /* Adjusted to take full width */
  padding: 10px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
  transition: border-color 0.3s ease;
  font-size: 14px;
}

.filterSectionContainer input[type="text"]:focus {
  border-color: #007BFF;
}

.genderOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.genderOptions label {
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  cursor: pointer;
}

.genderOptions label:hover {
  color: #007BFF;
}

input[type="radio"] {
  margin-right: 5px;
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
  
}
.filterOptionText{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  color: #3d3c3c;
}
.errorMessage {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

.divider {
  margin: 20px 0;
  text-align: center;
}

.divider hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
}

.content {
  margin-left: 340px;
  padding: 20px;
  background-color: #f5f5f5;
}
.genderPreference{
  margin-top:10px;
}