 .SearchBar-DestinationContainer {
    border: grey 1.5px solid;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }