 .SearchBar-DestinationContainer {
    border: grey 1.5px solid;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .SearchBar-location {
    font-style: normal;
    line-height: 2.5rem; /* Responsive line height */
    color: #686868;
    padding: 0%;
    border: none;
    outline: none;
    padding-left: 5%;
    width: 70%;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .locationIcon{
    width: 34px;
    height: 41px;
    cursor: pointer;
  }
  