.trip-details-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* background-color: white; */
   /* padding: 10% 0; */
   padding-top:5%;
}

.genericContainerInTripPage{
    width: 40%;
    background-color: white;
    /* height: 150px; */
    padding-left: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-family: "Robotic sans-serif";
}

.headerSpanInTripPage{
    font-weight: 900;
    font-size: 40px;
}

.locationContainerInTripPage{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.locationInTripPage{
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

.dateInTripPage{
    font-size: 20px;
    margin-top: 20px;
}


.profileImageInTripPage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.destinationImagesContainerInTripPage{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1em;
    width: 40%;
    background-color: white;
    /* padding-bottom: 5%; */
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.destinationImagesInTripPage{
    border-radius: 30px;
    padding: 20px;
    padding-top: 0;
}

.dividerInTripPage{
    background-color: grey;
    height: 18px;
    width: 40%;
    border-radius: 30px;
}

.totalMembers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    font-size: 18px;
    padding: 40px;
    background-color: white;
}

.totalMembersInTripPage{
    font-size: 25px;
    font-weight: 600;
}

.totalMembersValueInTripPage{
    font-size: 25px;
    font-weight: 500;
}

.headingInTripPage{
    font-size: 50px;
    font-weight: 900;
}

.headLocationContainerInTripPage{
    display: flex;
    flex-direction: row;
    width: 40%;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 30px;
    justify-content: space-between;
}

.personalInformation{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}

.nameAndRating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-size: 26px;
}

.descriptionSpanInTripPage{
    font-weight: 600;
    font-size: 23px;
}

.nameContainerInsidePersonalInformationInTripPage{
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 5px;
}

.ratingInTripPage{
    font-weight: 600;
    font-size: 26px;
}

.ratingContainerInsidePersonalInformationInTripPage{
    margin-top: 5px;
    font-size: 18px;
}

.chat-now-btnInTripPage {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 15px 19px 16px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    }
    
    .chat-now-btnInTripPage:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
    }
    
    .chat-now-btnInTripPage:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
    }
    
    .chat-now-btnInTripPage:disabled {
    cursor: not-allowed;
    opacity: .6;
    }
    
    .chat-now-btnInTripPage:disabled:active {
    pointer-events: none;
    }
    
    .chat-now-btnInTripPage:disabled:hover {
    box-shadow: none;
    }

.chatBtnContainer{
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
