.detail-box {
  box-sizing: border-box;
  position: relative;
  width: 25%; /* Adjust width as needed */
  height: auto;
  padding: 2%; /* Add padding for internal spacing */
  background: #ffffff;
  border: 3px solid #8dd3bb;
  box-shadow: 4px 4px 16px rgba(6, 64, 43, 0.25);
  border-radius: 10%; /* Adjust border-radius */
  margin: 2% auto; /* Center the box with some spacing */
}

.detail-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.detail-box-profile-page {
  width: 250px;
  height: 250px;
  margin-bottom: 10%;
  border-radius: 50%;
}

.detail-box-body {
  font-family: 'Montserrat', sans-serif;

  font-size: 38.38px;
  font-weight: 500;
  line-height: 46.78px;
  text-align: center;

  margin-bottom: 5%; /* Space between body text and button */
}

.detail-box-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  color: #000000;
  font-family: Montserrat;

  font-size: 38.38px;
  font-weight: 500;
  line-height: 46.78px;
  text-align: left;
  margin: 4% 0;

  cursor: pointer;
  text-align: center;
}
