.detail-box {
  box-sizing: border-box;
  position: relative;
  width: 28%;
  height: auto;
  background: #ffffff;
  border: 3px solid #8dd3bb;
  box-shadow: 4px 4px 16px rgba(6, 64, 43, 0.25);
  border-radius: 10%;
}

.detail-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.detail-box-profile-page {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.detail-box-body {
  font-size: 38.38px;
  font-weight: 500;
  line-height: 46.78px;
  text-align: center;
  margin: 0 0 15% 0;
}

.detail-box-heading {
  font-weight: 600;

  color: #000000;

  font-size: 38.38px;
  margin: 7.5% 0;
  cursor: pointer;
  text-align: center;
}
