.detail-box {
    position: relative;
    width: 387.44px;
    height: 196.38px;
    margin: 11% 32.93px;
    background: #FFFFFF;
    border: 3.23462px solid #8DD3BB;
    border-radius: 8.62565px;
    box-sizing: border-box;
}

.detail-box-body {
    position: absolute;
    width: 352.01px;
    height: 127.66px;
    left: 5%;
    bottom: 1%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 29.1834px;
    line-height: 36px;
    color: #112211;
}

.detail-box-button {
    position: absolute;
    width: 327px;
    height: 55.36px;
    left: 10%;
    top:-15%;

    background: #AFF4DD;
    border-radius: 72.846px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 29.1834px;
    line-height: 36px;
    color: #112211;
}

.detail-box-svg {
    position: absolute;
    width: 127.66px;
    height: 127.66px;
    left: -10%;
    top: -35%;
    background: #FFFFFF;
    border-radius: 50%;
    z-index: 1;
    padding: 10px;
    border: 10px #8DD3BB solid;
}