.trippage_details-lower-section {
  box-sizing: border-box;
}

.trippage_heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.75% 0;
}

.trippage_head-title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
}

.trippage_create-more-button {
  position: relative;
  padding: 0.75% 1%;
  background: #93d5bf;
  border-radius: 10px;
  font-size: 27.41px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trippage_create-more-button:hover {
  background-color: #82c5ab;
}

.trippage_profile-cards {
  display: flex;
  gap: 8%;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .trippage_create-more-button {
    height: auto;
  }
}
