.chatinput-bar {
  flex: 1;
  /* position: absolute; */
  position: relative;
  bottom: 0;
  align-items: center;
  /* padding: 12px 24px; */
  /* height: 10%; */
  width: 100%;
  background-color: #EEEEEE;
}

.chatinput-form {
  display: flex;
  align-items: center;
}

.chatinput {
  flex: 1;
  padding: 16px 25px;
  border-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  outline: none;
  color: black;
  background-color: #EEEEEE;
}

.chat-input-emoji-picker {
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.chatinput-actions {
  justify-content: center;
  align-items: center;
  border-style: none;
}

.chatinput-submit-button {
  width: 20px;
  height: 20px;
  border-style: none;
  margin: 0px 20px;
}

.chatinput-action {
  cursor: pointer;
}

.emoji-picker {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 300px;
  z-index: 2;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-height: 350px;
  overflow-y: auto;
}

.message-typing {
  /* display: flex;
  align-items: center;
  margin-top: 1rem; */
}

.message-typing-text {
  /* font-size: 14px;
  margin-left: 0.5rem; */
}
/* 
@media (max-width: 768px) {
  .chatinput-bar {
    padding: 8px 16px;
  }

  .chatinput {
    font-size: 10px;
  }

  .chatinput-actions {
    gap: 12px;
  }

  .chatinput-action {
    width: 20px;
    height: 20px;
  }
} */
