
.LoginCopyrightTextContainer {
    width: fit-content;
  
    left: -2%;
    bottom: -3%;
    z-index: 2;
  }
  
  .LoginCopyrightText {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .LoginTravmigozCopyrightText {
    font-weight: 500;
  }