input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding-left: 4px;
}

.LoginContainer {
  flex: 1;
  display: flex;
  background-color: white;
}

.LoginLoginFormAndCopyrightContainer {
  flex: 1.3 1;

  width: 50%;

  margin: 2.35% 12% 0% 3.5%;
}

.LoginFormAndTitleContainer {
  margin-bottom: 5%;
}


.LoginTitleText {
  font-size: 2.5rem;
  font-weight: 600;
  color: #42a7c3;
}

.LoginFormContainer {
  margin-top: 4.6%;

  margin-left: 9%;
}

.LoginFormHeadingContainer {
  flex: 1;
  margin-bottom: 1rem;

  font-size: 3.125rem;
  font-weight: 700;
}

.LoginFormSubHeadingText {
  font-size: 1.25rem;
  font-weight: 400;
}

.LoginFormInputsContainer {
  margin-top: 6.25%;
}

input:focus {
  outline: none;
}

.LoginRememberMeAndForgetPasswordContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3.5%;
  padding: 0px 4px;
}

.LoginRememberMeContainer {
  display: flex;
  position: relative;
  cursor: pointer;
}

.LoginRememberMeText {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 4px;
}

.LoginForgetPasswordLink {
  text-decoration: none;
}

.LoginForgetPasswordText {
  font-size: 1rem;
  font-weight: 500;
  color: #ff8682;
  transition:
    color 0.3s ease,
    transform 0.1s ease;
  cursor: pointer;
}

.LoginForgetPasswordLink:hover .LoginForgetPasswordText {
  color: #e14944;
}

.LoginForgetPasswordLink:active .LoginForgetPasswordText {
  color: #ca2c27;
  transform: scale(0.98);
}

.LoginLoginButtonContainer {
  margin-top: 5%;
  border-style: none;
  border-width: 0px;
}

.LoginLoginButton {
  background-color: #8dd3bb;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  border-width: 0px;
  border-radius: 5px;
}

.LoginLoginButton:active {
  font-size: 1.125px;
}

.LoginLoginButtonText {
  font-weight: 600;
}

.LoginDontHaveAccountContainer {
  display: flex;
  justify-content: center;

  margin-top: 2%;
}

.LoginDontHavaAccountText {
  font-size: 1rem;
  font-weight: 500;
}

.LoginSignUpLink {
  text-decoration: none;

  margin-left: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #ff8682;
  transition:
    color 0.3s ease,
    transform 0.1s ease;
  cursor: pointer;
  text-align: right;
}

.LoginSignUpLink:hover .LoginSignUpText {
  color: #e14944;
}

.LoginSignUpLink:active .LoginSignUpText {
  color: #ca2c27;
  transform: scale(0.98);
}
.LoginDividerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 6% 0px;
}

.LoginDivider1,
.LoginDivider2 {
  height: 0.3px;
  width: 40%;
  background-color: #112211;
}

.LoginOrLoginWithContainer {
  margin: 0px 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.LoginOrLoginWithText {
  color: #112211;
  font-size: 0.9rem;
}

.LoginGoogleSignUpButton {
  padding: 1.4% 20%;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: #8dd3bb;
  background-color: #8dd3bb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.LoginGoogleSignUpButton:active {
  border-width: 2.5px;
}

.LoginGoogleSignUpButton:active .LoginGoogleIcon {
  height: 44px;
}

.LoginContinueWithText {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.LoginGoogleIcon {
  height: 40px;
}

.LoginDesignContainer {
  flex: 1 2;

  max-width: 42%;

  min-width: 0%;
  height: fit-content;
  padding: 20px 0px 0px 0%;
}

.LoginAuthDesignImage {
  height: 95vh;
}

@media (max-width: 950px) {
  .LoginPasswordInputContainer {
    margin-top: 5%;
  }
}

@media (max-width: 550px) {
  .LoginDesignContainer {
    display: none;
  }
  .LoginPasswordInputContainer {
    margin-top: 6%;
  }
  input::placeholder {
    font-size: 0.9rem;
  }
}

@media (max-width: 653px) {
  .LoginForgetPasswordContainer {
    text-align: end;
  }
}

@media (max-width: 855px) {
  .LoginGoogleSignUpButton {
    padding: 1.4% 20%;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #8dd3bb;
    background-color: white;
  }

  .LoginGoogleSignUpButton:active {
    border-width: 2.5px;
  }

  .LoginContinueWithText {
    display: none;
  }
}
