.publish__trip__page {
  position: relative;
  width: 100%;
}
.input-field,
.description-field {
  display: block;
  width: 100%;
  padding: 13.95px;
  border: 2.325px solid #0b87ac;
  border-radius: 9.3px;
  font-family: 'Poppins', sans-serif;
  font-size: 16.275px;
  color: #040f0f;
}

.input-field::placeholder,
.description-field::placeholder {
  color: #040f0f;
  opacity: 0.7;
}
.publish__trip__container {
  position: relative;
  padding: 3%;
  width: 95%;
  max-width: 1604px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
}

.publish__trip__heading {
  position: relative;
  padding-left: 2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 3.5vw;
  line-height: 1.8;
}

.publish__trip__content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 80%;
}

.publish__trip__leftsection {
  width: 65%;
}

.left-section {
  position: relative;
  width: 95%;
  max-width: 906px;
  height: 90%;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;
  padding: 2% 4%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 2% 2% 2%;
}

.input-label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.4;
  color: #040f0f;
  margin-bottom: 10px;
}

.input-field {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3vw;
  padding: 0.8vw;
  border: 2px solid #0b87ac;
  border-radius: 9.3px;
}

.input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.4;
  color: #040f0f;
}

.description-group .description-field {
  width: 100%;
  height: auto;
  min-height: 10vw;
}

.description-field {
  display: flex;
  align-items: flex-start;
  padding: 0.8vw;
  border: 2.325px solid #0b87ac;
  border-radius: 9.3px;
}

.toggleBetweenTripUser {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  max-width: 906px;
  height: auto;
  padding: 2% 0;
  background: #8dd3bb;
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
}

.trip_detail,
.user_detail {
  cursor: pointer;
  transition: background-color 0.4s ease;
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.8vw;
  line-height: 2vw;
  color: #000000;
  width: auto;
  margin: 0 4%;
}

.trip_detail::after,
.user_detail::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  right: 50%;
  height: 0.5vw;
  background-color: #559c84;
  border-radius: 2px;
  transition: all 0.4s ease;
}

.trip_detail.active::after,
.user_detail.active::after {
  left: 0;
  right: 0;
}

.divider {
  position: relative;
  width: 0.5%;
  height: 4vw;
  background: #ffffff;
  border-radius: 50px;
}

.indicator {
  position: relative;
  width: 192px;
  height: 8px;
  background: #559c84;
  border-radius: 20px;
}

.publish__trip__rightsection {
  width: 35%;
  position: relative;
  background: #ffffff;
  border: 3px solid rgba(179, 204, 252, 0.1);
  box-shadow: 0px 4px 21px 1px rgba(36, 99, 235, 0.25);
  border-radius: 12px;
  padding: 3%;
}

.input-field {
  display: flex;
  align-items: center;
  width: 100%;
  height: 51.9px;
  padding: 13.95px;
  border: 2.325px solid #0b87ac;
  border-radius: 9.3px;
  font-family: 'Poppins', sans-serif;
  font-size: 16.275px;
  line-height: 23px;
  color: #040f0f;
}

.description-field {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 151px;
  padding: 13.95px;
  border: 2.325px solid #0b87ac;
  border-radius: 9.3px;
  font-family: 'Poppins', sans-serif;
  font-size: 16.275px;
  line-height: 23px;
  color: #040f0f;
}

.next-button,
.submit-button {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  color: #559c84;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.submit-button {
  background-color: #8DD3BB;
  color: rgb(0, 0, 0);
}
.publish__trip__button {
  box-sizing: border-box;
  width: 100%;
  max-width: 302px;
  height: 74.83px;
  margin: 20px auto;
  background: #ffffff;
  border: 3px solid #8dd3bb;
  border-radius: 8.90855px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.next-button:hover,
.submit-button:hover {
  background-color: #559c84;
}

.input-row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  .SearchBar-DestinationContainer,
  .date-picker {
    width: 100%;
    padding: 1%;
  }
  .SearchBar-DestinationContainer {
    border: 3px solid #8dd3bb;
  }
  .date-picker {
    input {
      border: 3px solid #8dd3bb;
    }
  }
}
