body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
html {
  font-size: 1vw; /* For most viewports, 1vw equals 1% of viewport width */
}

@media (min-width: 2500px) {
  html {
    font-size: 25px; /* Fix the size so that 1rem equals 25px */
  }
}
