.chatinput-bar {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  height: 10%;
  width: 100%;
  background-color: #EEEEEE;
}

.chatinput {
  flex: 1;
  padding: 8px 16px;
  border: 0px;
  font-family: 'Inter';
  font-size: 25px;
  outline: none;
  color: black;
  background-color: #EEEEEE;
}

.chatinput-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 12px;
}

.chatinput-action {
  width: 24px;
  height: 24px;
  background: #112211;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chatinput-bar {
    padding: 8px 16px;
  }

  .chatinput {
    font-size: 10px;
  }

  .chatinput-actions {
    gap: 12px;
  }

  .chatinput-action {
    width: 20px;
    height: 20px;
  }
}
