.SearchResultHeaderContainer {
  position: relative;
  width: 95%;
  height: auto;
  margin: 2.5%;
}

.SearchResultLandingHeader {
  position: relative;
  width: 100%;
  height: 60vh;
  border-radius: 25px;
  overflow: hidden;
}

.SearchResultLandingHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #00000000 0%, #00234DA1 63%);
  z-index: 1;
  border-radius: 25px;
}

.SearchResultLandingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.SearchResultHeaderSearchBar {
  position: absolute;
  width: 85%;
  max-width: 1339px;
  height: 24%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  box-shadow: 1px 4px 13px;
}

.SearchResultHeaderDescription {
  position: absolute;
  width: 30%;
  max-width: 753px;
  height: auto;
  top: 15vh;
  left: 8%;
  z-index: 1;
}

.SearchResultHeaderDesHeading {
  font-family: "TradeGothic LT Extended", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

.SearchResultHeaderDesPara {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
}

@media (max-width: 768px) {
  .SearchResultLandingHeader {
    height: 50vh;
  }

  .SearchResultHeaderSearchBar {
    width: 90%;
    height: 50px;
    top: 45vh;
  }

  .SearchResultHeaderDescription {
    top: 30vh;
    width: 90%;
  }

  .SearchResultHeaderDesHeading {
    font-size: 1.5rem;
  }

  .SearchResultHeaderDesPara {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .SearchResultLandingHeader {
    height: 40vh;
  }

  .SearchResultHeaderSearchBar {
    width: 95%;
    height: 40px;
    top: 40vh;
  }

  .SearchResultHeaderDescription {
    top: 25vh;
    width: 95%;
  }

  .SearchResultHeaderDesHeading {
    font-size: 1.2rem;
  }

  .SearchResultHeaderDesPara {
    font-size: 0.9rem;
  }
}
